{% extends "layout.html" %}

{% block title %}
    Themed icon generator
{% endblock %}

{% block main %}
    <h1>New Icon</h1><br>

    <form action="/" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputType">Please select the type of icon you would like to create: </label>
                <select id="inputType" class="form-control" name="type">
                    <option selected>Please select...</option>
                    <option>Background only</option>
                    <option>Background and foreground (beta)</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}